sandbox.example.com {
	encode zstd gzip

	request_body {
		max_size 2MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		-Server
	}

	reverse_proxy 127.0.0.1:8787 {
		transport http {
			dial_timeout 3s
			response_header_timeout 135s
		}
	}

	log {
		output stdout
		format json
	}
}
